<div id="home" class="second-banner">
  <%= render 'shared/navbar' %>
  <div id="carousel-example-generic" class="carousel slide banner carousel-fade" data-ride="carousel" data-interval="6000" data-pause="null">
    <div class="banner-content">
      <h1>Paul Craven</h1>
      <h2>Behavioural Economics Expert &</h2>
      <h2>Professional Speaker</h2>
      <button class="book-btn" data-toggle="modal" data-target="#myModal">Don't click here</button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Let's Talk</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for(resource, as: :message, url: "/message") do |f| %>
              <%= f.input :name, label: false, placeholder: "Your Name", required: true %>
              <%= f.input :email, label: false, placeholder: "Email", required: true %>
              <%= f.input :phone_number, label: false, placeholder: "Contact Number", required: true %>
              <%= f.input :date, as: :string, input_html: { class: 'datepicker' }, label: false, placeholder: "Event Date", required: true %>
              <%= f.input :body, required: "", label: false, as: :text,  placeholder: "Event Info", required: true %>
              <%= f.button :submit, "Send", class: 'send-button' %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a href="#about">
      <div class="down-arrow">
        <i class="fa fa-angle-down"></i>
      </div>
    </a>
  </div>
</div>
