<%= render 'shared/contact-modal' %>
<div id="home" class="second-banner">
  <%= render 'shared/navbar' %>
  <div id="carousel-example-generic" class="carousel slide banner carousel-fade" data-ride="carousel" data-interval="6000" data-pause="null">
    <div class="banner-content">
      <h1>Paul Craven</h1>
      <h2>Behavioural Economics Expert &</h2>
      <h2>Professional Speaker</h2>
      <button class="book-btn" data-toggle="modal" data-target="#myModal">Don't click here</button>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1528372926/Paul-Craven-speaking-1024x682.jpg" %>');">
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a href="#about">
      <div class="down-arrow">
        <i class="fa fa-angle-down"></i>
      </div>
    </a>
  </div>
</div>
