<% @blogs.each_with_index do |article, index1| %>
<div class="row blog-row">
  <div class='col-xs-12 col-sm-6 blog-card'>
    <div class="blog-image" style="background-image: url('<%= article[:image] %>')">
    </div>
  </div>
  <div class='col-xs-12 col-sm-6 blog-card-det'>
    <div class="blog-title">
      <a href='<%= article[:link] %>' target="_blank"><h3><strong><%= article[:title] %></strong></h3></a>
    </div>
    <div class="blog-detail">
      <small><p style=”margin-top:-10px”> <%= article[:date].strftime('Published: %F') %> | <a href='<%= article[:link] %>'><em>Source: Medium - Paul Craven</em></a></a></p></small>
    </div>
    <div class="blog-description">
      <p><%= article[:description] %></p>
    </div>
    <a class="read-link" data-toggle="collapse" href="#collapseExample<%= index1 %>" aria-expanded="false" aria-controls="collapseExample<%= index1 %>">
      Read
    </a>
  </div>
</div>
<div class="collapse" id="collapseExample<%= index1 %>">
  <div class="blog-content">
    <%= raw article[:content] %>
  </div>
</div>
<% end %>
