<div class="clients-wrapper">
  <div class="clients-title">
    <h2 data-aos="fade-left" data-aos-duration="2000">My Clients Include</h2>
  </div>
  <div class="clients-container">
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/1515008681366.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Abingworth-logo_2x.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/accenture-logo.png.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/animated-logos.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/AXA.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/barnett-waddingham.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/BlackRock-white-logo.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/bnp-paribas-fortis.png", quality: "auto:eco", width: 115) %></div>
    </div>
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/cisilogo.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Coutts-logo.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/facebook.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/hymans_robertson_white.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/lbs-logo.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Lloyds-bank.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/mercer.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/nationwide-logo-offwhite.png", quality: "auto:eco", width: 115) %></div>
    </div>
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/nhs-logo.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/ogilvy-logo-white-event-app.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/old-mutual-wealth-private-client-advisers_white.png", quality: "auto:eco", width: 115) %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/rathbones_logo.png", quality: "auto:eco", width: 115)%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/statprologo2.png", quality: "auto:eco", width: 115)%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/ubs-3.png", quality: "auto:eco", width: 115)%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/willis_logo.png", quality: "auto:eco", width: 115)%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/zurich-insurance-group_416x416.png", quality: "auto:eco", width: 115) %></div>
    </div>
  </div>
</div>
