<div class="clients-wrapper">
  <div class="clients-title">
    <h2 data-aos="fade-left" data-aos-duration="2000">My Clients Include</h2>
  </div>
  <div class="clients-container" itemscope>
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/1515008681366.png", alt: "national grid logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Abingworth-logo_2x.png", alt: "Abingworth logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/accenture-logo.png.png", alt: "accenture logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/animated-logos.png", alt: "animated-logos", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/AXA.png", alt: "AXA", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/barnett-waddingham.png", alt: "barnett waddingham logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/BlackRock-white-logo.png", alt: "BlackRock logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/bnp-paribas-fortis.png", alt: "bnp paribas logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
    </div>
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/cisilogo.png", alt: "cisi logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Coutts-logo.png", alt: "Coutts logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/facebook.png", alt: "facebook logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/hymans_robertson_white.png", alt: "hymans robertson logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/lbs-logo.png", alt: "lbs logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/Lloyds-bank.png", alt: "Lloyds bank logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/mercer.png", alt: "mercer logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/nationwide-logo-offwhite.png", alt: "nationwide logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
    </div>
    <div class="client-layers">
      <div class="client-image"><%= cl_image_tag("paul-craven/nhs-logo.png", alt: "nhs logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/ogilvy-logo-white-event-app.png", alt: "ogilvy logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/old-mutual-wealth-private-client-advisers_white.png", alt: "old mutual wealth logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/rathbones_logo.png", alt: "rathbones logo", quality: "auto:eco", width: 115, itemprop: "image")%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/statprologo2.png", alt: "statpro logo", quality: "auto:eco", width: 115, itemprop: "image")%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/ubs-3.png", alt: "ubs logo", quality: "auto:eco", width: 115, itemprop: "image")%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/willis_logo.png", alt: "willis logo", quality: "auto:eco", width: 115, itemprop: "image")%></div>
      <div class="client-image"><%= cl_image_tag("paul-craven/zurich-insurance-group_416x416.png", alt: "zurich insurance logo", quality: "auto:eco", width: 115, itemprop: "image") %></div>
    </div>
  </div>
</div>
