<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How can I help?</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: :message, url: "/message") do |f| %>
        <%= f.input :name, label: false, placeholder: "Your Name", required: true %>
        <%= f.input :email, label: false, placeholder: "Email", required: true %>
        <%= f.input :phone_number, label: false, placeholder: "Contact Number", required: true %>
        <p class="hidden-md form-date">Event Date</p>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker' }, label: false, placeholder: "Event Date", required: true %>
        <%= f.input :body, required: "", label: false, as: :text,  placeholder: "Message for Paul", required: true %>
        <%= f.button :submit, "Send", class: 'send-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
