<div class="navbar-sparks navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "navbar-sparks-brand" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-sparks-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Home", "#home", class: "navbar-sparks-item navbar-sparks-link"%>
    <%= link_to "About", "#about", class: "navbar-sparks-item navbar-sparks-link"%>
    <%= link_to "Videos", "#videos", class: "navbar-sparks-item navbar-sparks-link"%>
    <%= link_to "Speaking", "#talks", class: "navbar-sparks-item navbar-sparks-link" %>
    <%= link_to "Masterclass", "#coaching", class: "navbar-sparks-item navbar-sparks-link" %>
    <%= link_to "Testimonials", "#testimonial", class: "navbar-sparks-item navbar-sparks-link" %>
    <%= link_to "Contact", "#contact", class: "navbar-sparks-item navbar-sparks-link" %>
    <a href="https://twitter.com/cravenpartners" target="_blank"><i class="fab fa-twitter"></i></a>
    <%#= link_to "Blogs", blogs_path, class: "navbar-sparks-item navbar-sparks-link"  %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-sparks-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-sparks-dropdown-menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#talks">Speaking</a></li>
        <li><a href="#coaching">Masterclass</a></li>
        <li><a href="#testimonial">Testimonials</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="https://twitter.com/cravenpartners" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
