<%= render 'shared/banner' %>

<div id="about"></div>

<%= render 'shared/about' %>

<%= render 'shared/video' %>

<%= render 'shared/talks' %>

<%= render 'shared/testimonial' %>

<%= render 'shared/coaching' %>
