<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WBF0XTG8GV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WBF0XTG8GV');
    </script>
    <title>Paul Craven - Behavioural Economics Expert Speaker</title>
    <link rel="canonical" href="https://www.paulcraven.com/">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:image" content=<%= image_url("pc-og.png") %>>
    <meta property="og:url" content="https://www.paulcraven.com">
    <meta property="og:title" content="Paul Craven Partners Ltd">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="World renowned behavioural science speaker, Paul Craven gives fascinating and insightful talks around investment, sales and business">
    <meta property="og:site_name" content="Paul Craven - Behavioural Economics Expert" />

    <!-- ADD METATAGS -->
    <meta name="description" content="World renowned behavioural science speaker, Paul Craven gives fascinating and insightful talks around investment, sales and business">

    <meta name="keywords" content="speaker, keynote speaker, behavioural economics expert, behavioural economics, expert speaker, master of ceromonies, paul craven, goldman sachs, schroders, tedx talk, ted talk, rory sutherland, ogilvy, nudgestock, investments, magic, magician, psychology, decision making, election campaigns,">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="en" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Paul Craven",
        "url": "http://www.paulcraven.com",
        "sameAs": [
        "https://www.facebook.com/paulcravenpartners/",
        "https://twitter.com/cravenpartners",
        "https://www.linkedin.com/in/paul-craven-908bb212/"
        ]
      }
    </script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <body>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': 'true'  %>
    </body>
  </head>
</html>
