<!DOCTYPE html>
<html>
<head>
    <title>Paul Craven Partners Ltd</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:image" content='<%= image_tag "pc-og.png" %>'>
    <meta property="og:url" content="http://www.paulcraven.com">
    <meta property="og:title" content="Paul Craven Partners Ltd.">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Paul Craven is a London-based investment specialist and public speaker in the area of Behavioural Economics and founder of Paul Craven Partners Ltd.">
    <meta property="og:site_name" content="Paul Craven - Behavioural Economics Expert" />


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
  </html>
